<section *ngIf="task; else emptyTask">
  <mat-card-header>
    <mat-card-title>{{ task.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content
    >{{ task.description }}
    <div class="task-buttons">
      <button
        mat-mini-fab
        color="primary"
        (click)="onOpenTaskModal('UPDATE', task)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="onDeleteTask(task._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</section>

<ng-template #emptyTask>
  <h1>No se encontrarón tareas</h1>
</ng-template>
