mat-card-header {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.task-buttons {
  margin: 10px 0px;
  justify-content: end;
  display: flex;
  button {
    margin-right: 10px;
  }
}

:host {
  margin-bottom: 10px;
}
