<div class="add-task-button">
  <button mat-fab color="primary" (click)="openTaskModal({ action: 'CREATE' })">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="board-container">
  <div class="column pending-column">
    <h3>Pendientes</h3>
    <mat-card *ngFor="let task of pendingTasks">
      <app-task-card
        [task]="task"
        (deleteTask)="deleteTask(task._id)"
        (openTaskModal)="openTaskModal({ action: 'UPDATE', task })"
      ></app-task-card>
    </mat-card>
  </div>

  <div class="column active-column">
    <h3>Activas</h3>
    <mat-card *ngFor="let task of activeTasks">
      <app-task-card
        [task]="task"
        (deleteTask)="deleteTask(task._id)"
        (openTaskModal)="openTaskModal({ action: 'UPDATE', task })"
      ></app-task-card>
    </mat-card>
  </div>

  <div class="column completed-column">
    <h3>Finalizadas</h3>
    <mat-card *ngFor="let task of completedTasks">
      <app-task-card
        [task]="task"
        (deleteTask)="deleteTask(task._id)"
        (openTaskModal)="openTaskModal({ action: 'UPDATE', task })"
      ></app-task-card>
    </mat-card>
  </div>
</div>
